- var headerHighlight = 'index'
- var jsMinLink = 'http://g.alicdn.com/sj/sui-mobile/0.0.1/js/sui-mobile.min.js'
- var cssMinLink = 'http://g.alicdn.com/sj/sui-mobile/0.0.1/css/sui-mobile.min.css'
- var jsLink = 'http://g.alicdn.com/sj/sui-mobile/0.0.1/js/sui-mobile.js'
- var cssLink = 'http://g.alicdn.com/sj/sui-mobile/0.0.1/css/sui-mobile.css'
