body {
  height: 800px;
  text-align: center;
  color: #fff;
  background-image: url(../img/grid.png);
  background-image: url(../img/grid.png), -webkit-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-image: url(../img/grid.png), -webkit-linear-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-image: url(../img/grid.png), -moz-linear-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-image: url(../img/grid.png), -o-linear-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-image: url(../img/grid.png), linear-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-position: center center;
  background-repeat: no-repeat;
}

.brand-intro {
  padding: 100px 0;
  position: relative;
  h1 {
    font-size: 64px;
    line-height: 1.5;
  }
  p {
    font-size: 32px;
    line-height: 1.5;
  }
  ul {
    display: inline-block;
    li {
      font-size: 24px;
      line-height: 1.5;
    }
  }
}
.intro {
  margin-right: 400px;
}

.phone {
  position: absolute;
  right: 10%;
  top: 0;
  background: url(../img/phone.png) no-repeat center top;
  background-size: 100% auto;
  width: 377px;
  height: 796px;
  iframe {
    width: 320px;
    height: 548px;
    position: absolute;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -260px;
  }
}

