.brand-intro {
  text-align: center;
  background-color: #a811b5;
  color: #fff;
  padding: 220px 0;
  background-image: url(../img/grid.png);
  background-image: url(../img/grid.png), -webkit-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-image: url(../img/grid.png), -webkit-linear-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-image: url(../img/grid.png), -moz-linear-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-image: url(../img/grid.png), -o-linear-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-image: url(../img/grid.png), linear-gradient(linear, left bottom, right top, from(#571c94), to(#e609cf));
  background-position: center center;
  background-repeat: no-repeat;
}

.sui-container {
  width: 100%;
}

h1 {
  font-size: 48px;
}
