.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back 
        span 返回
    .center.sliding 关于 SUI Mobile
    .right
      a(href="#").open-panel.link.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="about")
    .page-content
      .content-block-title 欢迎使用 SUI Mobile
      .content-block
        .content-block-inner
          p SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。SUI Mobile 特点。
