.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link
        i.icon.icon-back 
<<<<<<< HEAD
        span Back
    .center.sliding Color Themes
=======
        span 返回
    .center.sliding 换肤
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
    .right
      a(href="#").open-panel.link.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="color-themes")
    .page-content
      .content-block 
<<<<<<< HEAD
        p Framework7 comes with default 10 iOS color themes set and three layout color themes (default, dark and pure white):
      .content-block-title Choose Layout Theme
=======
        p 默认有十种颜色的皮肤可以选择，并且有三种底色风格（默认，深色和白色）
      .content-block-title 选择底色
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
      .content-block
        .row
          .col-33.ks-layout-theme.ks-layout-default.active(data-layout="")
          .col-33.ks-layout-theme.ks-layout-dark(data-theme="dark")
          .col-33.ks-layout-theme.ks-layout-white(data-theme="white")
<<<<<<< HEAD
      .content-block-title Choose Color Theme
=======
      .content-block-title 选择皮肤
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
      .content-block
        .row
          .col-20.ks-color-theme.bg-white(data-theme="white")
          .col-20.ks-color-theme.bg-black(data-theme="black")
          .col-20.ks-color-theme.bg-blue(data-theme="blue")
          .col-20.ks-color-theme.bg-orange(data-theme="orange")
          .col-20.ks-color-theme.bg-red(data-theme="red")
        .row
          .col-20.ks-color-theme.bg-pink(data-theme="pink")
          .col-20.ks-color-theme.bg-green(data-theme="green")
          .col-20.ks-color-theme.bg-lightblue(data-theme="lightblue")
          .col-20.ks-color-theme.bg-yellow(data-theme="yellow")
          .col-20.ks-color-theme.bg-gray(data-theme="gray")
        
<<<<<<< HEAD
      
=======
      
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
