.navbar
  .navbar-inner
    .left.sliding
      a(href="index.html").back.link 返回
    .center.sliding 第二步
    .right.sliding
      a(href="deep-navbar-3.html").link 第三步
.pages.navbar-through
  .page(data-page="deep-navbar-2")
    .page-content
      .content-block
        p
          a.button(href="deep-navbar-3.html") 跳转到第三步
        p 很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。很长很长的文字。
