.navbar
  .navbar-inner
    .left.sliding
      a(href="forms.html").back.link
        i.icon.icon-back 
        span 表单
    .center.sliding 按钮
    .right
      a(href="#").link.open-panel.icon-only
        i.icon.icon-bars
.pages.navbar-through
  .page(data-page="form-buttons")
    .page-content
      .content-block-title 常用按钮
      .content-block
        .row
          .col-33
            a(href="#").button.active 激活状态
          .col-33
            a(href="#").button 按钮
          .col-33
            a(href="#").button.button-round 圆角按钮
      .content-block
        .row
          .col-50
            a(href="#").button.active 激活状态
          .col-50
            a(href="#").button 按钮
      .content-block
        .buttons-row
          a(href="#").button 按钮
          a(href="#").button 按钮
      .content-block
        .buttons-row
          a(href="#").button.button-round 按钮
          a(href="#").button.button-round 按钮
          a(href="#").button.button-round 按钮
      .content-block
        .buttons-row
          a(href="#").button 按钮
          a(href="#").button.active 激活状态
          a(href="#").button 按钮
          a(href="#").button 按钮

      .content-block-title 大按钮
      .content-block
        .row
          .col-50
            a(href="#").button.button-big.active 激活状态
          .col-50
            a(href="#").button.button-big 按钮
      .content-block-title 长按钮
      .content-block
        .row
          .col-50
            a(href="#").button.button-big.button-fill.color-green 提交
          .col-50
            a(href="#").button.button-big.button-fill.color-red 取消
      .content-block-title 列表块级按钮
      .list-block.inset
        ul
          li
            a(href="#").list-button.item-link 块级按钮 1
          li
            a(href="#").list-button.item-link 块级按钮 2
          li
            a(href="#").list-button.item-link 块级按钮 3
      .list-block.inset
        ul
          li
            a(href="#").list-button.item-link.color-red 大的红色文字的按钮
