doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title SUI Mobile
    link(rel="stylesheet", href="../dist/css/sui-mobile.css")
    link(rel="stylesheet", href="../dist/css/sui-mobile.themes.css")
    link(rel="stylesheet", href="css/kitchen-sink.css")
  body
    .statusbar-overlay
    .panel-overlay
    .panel.panel-left.panel-cover.layout-dark
      .content-block-title 左侧栏
      .content-block
        p 左侧栏，点击下面的关闭按钮可以关掉
          a(href="#").close-panel 关闭
          | 这里可以放任何东西，
          a(href="#", data-panel="right").open-panel 右侧栏
      .content-block-title SUI Mobile
      .list-block
        ul
          li
            a(href="modals.html").close-panel.item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Modals
          li
            a(href="popover.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Popover
          
          li
            a(href="tabs.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title 标签页
          li
            a(href="panels.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title 侧栏
          li
            a(href="list-view.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title 列表
          //li
            a(href="swipe-delete.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Swipe To Delete
          li
            a(href="forms.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title 表单
          //li
            a(href="messages.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Messages
          li
            a(href="grid.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title 栅格
          li
            a(href="preloader.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title 加载指示器
          li
            a(href="navbars-toolbars.html").close-panel.item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title 导航栏和工具栏
          li
            a(href="transitions.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title 动画和特效
      .content-block
        p 从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着。。。。。
    .panel.panel-right.panel-reveal.layout-dark
      .view.view-right
        .navbar
          .navbar-inner
            .center.sliding Right Panel
        .pages.navbar-through
          .page(data-page="panel-right1")
            .page-content 
              .content-block
                p 右侧栏，你可以点击下面的关闭按钮来关闭: 
                  a(href="#").close-panel 关闭
                  | 这里同样可以放任何东西，包括完全独立的View
              .list-block
                ul
                  li
                    a(href="panel-right2.html").item-link 
                      .item-content
                        .item-inner 
                          .item-title 一个页面
                  li
                    a(href="panel-right3.html").item-link
                      .item-content
                        .item-inner 
                          .item-title 另一个页面

    .views
      .view.view-main
        .navbar
          .navbar-inner
            //- .left
            .center.sliding SUI Mobile
            .right
              a(href="#").open-panel.link.icon-only
                i.icon.icon-bars
        .toolbar
          .toolbar-inner
            a(href="#").link 链接
            a(href="#", data-popover=".popover-menu").open-popover.link 菜单
        .pages.navbar-through.toolbar-through
          .page(data-page="index")
            .page-content
              .content-block-title 欢迎
              .content-block
                a(href="about.html").button 关于 SUI Mobile
              .content-block-title 示例
              .list-block
                ul
                  li
                    a(href="modals.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Modals
                  li
                    a(href="popover.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Popover
                  li
                    a(href="tabs.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 标签页
                  li
                    a(href="panels.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 侧栏
                  li
                    a(href="list-view.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 列表
                  li
                    a(href="media-lists.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 多媒体列表
                  li
                    a(href="contacts.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 联系人列表
                  //li
                    a(href="swipe-delete.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Swipe To Delete
                  //li
                    a(href="sortable-list.html").item-link
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Sortable List
                  li
                    a(href="accordion.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 手风琴
                  li
                    a(href="pull-to-refresh.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 下拉刷新
                  li
                    a(href="forms.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 表单
                  //li
                    a(href="messages.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Messages
                  li
                    a(href="grid.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 栅格
                          .item-after
                            span.badge.bg-green 新
                  li
                    a(href="preloader.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 加载指示器
                  li
                    a(href="navbars-toolbars.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 导航栏和工具栏
                  li
                    a(href="searchbar.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 搜索栏
                  li
                    a(href="slider.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 幻灯片
                  li
                    a(href="photo-browser.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 图片浏览器
                  li
                    a(href="infinite-scroll.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 无限滚动
                  //li
                    a(href="notifications.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Notifications
                  li
                    a(href="login-screen.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 登录
                  li
                    a(href="color-themes.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 皮肤
                          .item-after
                            span.badge.bg-green NEW
                  li
                    a(href="#").item-link.ks-generate-page
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 动态生成页面内容
                  li
                    a(href="transitions.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title 动画和特效
              .content-block-title 特色
              .content-block
                p 
                  a(href="core-features.html").button 特色
    .popup.demo-popup
      .view.navbar-fixed
        .pages
          .page
            .navbar
              .navbar-inner
                .center Popup Title
                .right
                  a(href="#").link.close-popup Done
            .page-content
              .content-block
                p 这里是一个弹层。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。
    .popover.popover-menu
      .popover-angle
      .popover-inner
        .list-block
          ul
            li
              a(href="modals.html").list-button.item-link Modals
            li
              a(href="popover.html").list-button.item-link Popover
            li
              a(href="tabs.html").list-button.item-link 标签页
            li
              a(href="panels.html").list-button.item-link 侧栏
            li
              a(href="list-view.html").list-button.item-link 列表
            li
              a(href="forms.html").list-button.item-link 表单
    .popover.popover-music
      .popover-angle
      .popover-inner
        .list-block.media-list
          ul
            li
              a(href="#").item-link.item-content
                .item-media
                  img(src="http://hhhhold.com/88/d/jpg?13", width="44")
                .item-inner
                  .item-title-row
                    .item-title Yellow Submarine
                  .item-subtitle Beatles
            li
              a(href="#").item-link.item-content
                .item-media
                  img(src="http://hhhhold.com/88/d/jpg?23", width="44")
                .item-inner
                  .item-title-row
                    .item-title Don't Stop Me Now
                  .item-subtitle Queen
            li
              a(href="#").item-link.item-content
                .item-media
                  img(src="http://hhhhold.com/88/d/jpg?33", width="44")
                .item-inner
                  .item-title-row
                    .item-title Billie Jean
                  .item-subtitle Michael Jackson
    .login-screen
      .view
        .page
          .page-content.login-screen-content
            .login-screen-title 登录
            form
              .list-block
                ul
                  li.item-content
                    .item-inner 
                      .item-title.label 用户名
                      .item-input
                        input(type="text", name="username", placeholder="用户名")
                  li.item-content
                    .item-inner 
                      .item-title.label 密码
                      .item-input
                        input(type="password", name="password", placeholder="密码")
              .list-block
                ul
                  li
                    a(href="#").item-link.list-button Sign In
                .list-block-label Some text about login information.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    script(type="text/javascript", src="../dist/js/sui-mobile.js")
    script(type="text/javascript", src="js/kitchen-sink.js")
    script(src="http://10.68.166.207:8080/target/target-script-min.js#anonymous") 需要一个公共的服务器
