doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
<<<<<<< HEAD
    title Framework7
    link(rel="stylesheet", href="../build/css/framework7.css")
    link(rel="stylesheet", href="../build/css/framework7.themes.css")
=======
    title SUI Mobile
    link(rel="stylesheet", href="../dist/css/sui-mobile.css")
    link(rel="stylesheet", href="../dist/css/sui-mobile.themes.css")
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
    link(rel="stylesheet", href="css/kitchen-sink.css")
  body
    .statusbar-overlay
    .panel-overlay
    .panel.panel-left.panel-cover.layout-dark
<<<<<<< HEAD
      .content-block-title Left Panel
      .content-block
        p This is a side panel. You can close it by clicking outsite or on this link: 
          a(href="#").close-panel close me
          | . You can put here anything, even another isolated view like in 
          a(href="#", data-panel="right").open-panel Right Panel
      .content-block-title Framework7 Kitchen Sink
=======
      .content-block-title 左侧栏
      .content-block
        p 左侧栏，点击下面的关闭按钮可以关掉
          a(href="#").close-panel 关闭
          | 这里可以放任何东西，
          a(href="#", data-panel="right").open-panel 右侧栏
      .content-block-title SUI Mobile
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
      .list-block
        ul
          li
            a(href="modals.html").close-panel.item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Modals
          li
            a(href="popover.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Popover
          
          li
            a(href="tabs.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
<<<<<<< HEAD
                  .item-title Tabs
=======
                  .item-title 标签页
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
          li
            a(href="panels.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
<<<<<<< HEAD
                  .item-title Side Panels
=======
                  .item-title 侧栏
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
          li
            a(href="list-view.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
<<<<<<< HEAD
                  .item-title List View
          li
=======
                  .item-title 列表
          //li
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
            a(href="swipe-delete.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Swipe To Delete
          li
            a(href="forms.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
<<<<<<< HEAD
                  .item-title Forms
          li
=======
                  .item-title 表单
          //li
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
            a(href="messages.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
                  .item-title Messages
          li
            a(href="grid.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
<<<<<<< HEAD
                  .item-title Grid
=======
                  .item-title 栅格
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
          li
            a(href="preloader.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
<<<<<<< HEAD
                  .item-title Preloader
=======
                  .item-title 加载指示器
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
          li
            a(href="navbars-toolbars.html").close-panel.item-link 
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
<<<<<<< HEAD
                  .item-title Navbars And Toolbars
=======
                  .item-title 导航栏和工具栏
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
          li
            a(href="transitions.html").close-panel.item-link
              .item-content
                .item-media
                  i.icon.icon-f7
                .item-inner 
<<<<<<< HEAD
                  .item-title Transitions And Effects
      .content-block
        p Long text block goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sem urna, gravida non scelerisque id, fringilla ac velit. Phasellus elementum a ipsum at ornare. Mauris sagittis rhoncus euismod. Integer convallis augue eu lacus ultrices, in dictum elit consequat. Nulla faucibus massa id felis egestas eleifend. Proin consequat dignissim magna ut scelerisque. Vestibulum ac lorem semper, posuere sapien nec, pharetra massa. Nulla a tellus facilisis, sollicitudin quam porta, aliquam lorem. Fusce dignissim eros ac diam molestie, ut ultrices lorem tristique. Ut facilisis augue ac nisi egestas malesuada. Nunc posuere tortor quis eleifend mollis. Aliquam erat volutpat. Donec feugiat elit tellus, nec convallis orci elementum in. Sed urna mi, vestibulum id tempus id, pretium et ante. Pellentesque eget sollicitudin ligula. Phasellus pellentesque velit eu porta suscipit.
=======
                  .item-title 动画和特效
      .content-block
        p 从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着从前有座山，山里有座庙，庙里有个老和尚在给小和尚讲故事，讲着什么呢，讲着。。。。。
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
    .panel.panel-right.panel-reveal.layout-dark
      .view.view-right
        .navbar
          .navbar-inner
            .center.sliding Right Panel
        .pages.navbar-through
          .page(data-page="panel-right1")
            .page-content 
              .content-block
<<<<<<< HEAD
                p This is a right side panel. You can close it by clicking outsite or on this link: 
                  a(href="#").close-panel close me
                  | . You can put here anything, even another isolated view, try it:
=======
                p 右侧栏，你可以点击下面的关闭按钮来关闭: 
                  a(href="#").close-panel 关闭
                  | 这里同样可以放任何东西，包括完全独立的View
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
              .list-block
                ul
                  li
                    a(href="panel-right2.html").item-link 
                      .item-content
                        .item-inner 
<<<<<<< HEAD
                          .item-title Right panel page 2
=======
                          .item-title 一个页面
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="panel-right3.html").item-link
                      .item-content
                        .item-inner 
<<<<<<< HEAD
                          .item-title Right panel page 3
=======
                          .item-title 另一个页面
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1

    .views
      .view.view-main
        .navbar
          .navbar-inner
            //- .left
<<<<<<< HEAD
            .center.sliding Framework7
=======
            .center.sliding SUI Mobile
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
            .right
              a(href="#").open-panel.link.icon-only
                i.icon.icon-bars
        .toolbar
          .toolbar-inner
<<<<<<< HEAD
            a(href="#").link Dummy Link
            a(href="#", data-popover=".popover-menu").open-popover.link Menu
        .pages.navbar-through.toolbar-through
          .page(data-page="index")
            .page-content
              .content-block-title Welcome To Framework7
              .content-block
                a(href="about.html").button Read About Framework7
              .content-block-title Framework7 Kitchen Sink
=======
            a(href="#").link 链接
            a(href="#", data-popover=".popover-menu").open-popover.link 菜单
        .pages.navbar-through.toolbar-through
          .page(data-page="index")
            .page-content
              .content-block-title 欢迎
              .content-block
                a(href="about.html").button 关于 SUI Mobile
              .content-block-title 示例
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
              .list-block
                ul
                  li
                    a(href="modals.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Modals
                  li
                    a(href="popover.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Popover
                  li
                    a(href="tabs.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Tabs
=======
                          .item-title 标签页
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="panels.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Side Panels
=======
                          .item-title 侧栏
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="list-view.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title List View
=======
                          .item-title 列表
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="media-lists.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Media Lists
=======
                          .item-title 多媒体列表
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="contacts.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Contacts List
                  li
=======
                          .item-title 联系人列表
                  //li
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                    a(href="swipe-delete.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Swipe To Delete
<<<<<<< HEAD
                  li
=======
                  //li
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                    a(href="sortable-list.html").item-link
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Sortable List
                  li
                    a(href="accordion.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Accordion
=======
                          .item-title 手风琴
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="pull-to-refresh.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Pull To Refresh
=======
                          .item-title 下拉刷新
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="forms.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Forms
                  li
=======
                          .item-title 表单
                  //li
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                    a(href="messages.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Messages
                  li
                    a(href="grid.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Grid
                          .item-after
                            span.badge.bg-green NEW
=======
                          .item-title 栅格
                          .item-after
                            span.badge.bg-green 新
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="preloader.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Preloader
=======
                          .item-title 加载指示器
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="navbars-toolbars.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Navbars And Toolbars
=======
                          .item-title 导航栏和工具栏
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="searchbar.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Search Bar
=======
                          .item-title 搜索栏
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="slider.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Slider
=======
                          .item-title 幻灯片
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="photo-browser.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Photo Browser
=======
                          .item-title 图片浏览器
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="infinite-scroll.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Infinite Scroll
                  li
=======
                          .item-title 无限滚动
                  //li
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                    a(href="notifications.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
                          .item-title Notifications
                  li
                    a(href="login-screen.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Login Screen
=======
                          .item-title 登录
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="color-themes.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Color Themes
=======
                          .item-title 皮肤
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                          .item-after
                            span.badge.bg-green NEW
                  li
                    a(href="#").item-link.ks-generate-page
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Dynamically Generated Content
=======
                          .item-title 动态生成页面内容
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
                  li
                    a(href="transitions.html").item-link 
                      .item-content
                        .item-media
                          i.icon.icon-f7
                        .item-inner 
<<<<<<< HEAD
                          .item-title Transitions And Effects
              .content-block-title Core Features
              .content-block
                p 
                  a(href="core-features.html").button Read About Core Features
=======
                          .item-title 动画和特效
              .content-block-title 特色
              .content-block
                p 
                  a(href="core-features.html").button 特色
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
    .popup.demo-popup
      .view.navbar-fixed
        .pages
          .page
            .navbar
              .navbar-inner
                .center Popup Title
                .right
                  a(href="#").link.close-popup Done
            .page-content
              .content-block
<<<<<<< HEAD
                p Here comes popup. You can put here anything, even independent view with its own navigation. Also not, that by default popup looks a bit different on iPhone/iPod and iPad, on iPhone it is fullscreen.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus mauris leo, eu bibendum neque congue non. Ut leo mauris, eleifend eu commodo a, egestas ac urna. Maecenas in lacus faucibus, viverra ipsum pulvinar, molestie arcu. Etiam lacinia venenatis dignissim. Suspendisse non nisl semper tellus malesuada suscipit eu et eros. Nulla eu enim quis quam elementum vulputate. Mauris ornare consequat nunc viverra pellentesque. Aenean semper eu massa sit amet aliquam. Integer et neque sed libero mollis elementum at vitae ligula. Vestibulum pharetra sed libero sed porttitor. Suspendisse a faucibus lectus.
                p Duis ut mauris sollicitudin, venenatis nisi sed, luctus ligula. Phasellus blandit nisl ut lorem semper pharetra. Nullam tortor nibh, suscipit in consequat vel, feugiat sed quam. Nam risus libero, auctor vel tristique ac, malesuada ut ante. Sed molestie, est in eleifend sagittis, leo tortor ullamcorper erat, at vulputate eros sapien nec libero. Mauris dapibus laoreet nibh quis bibendum. Fusce dolor sem, suscipit in iaculis id, pharetra at urna. Pellentesque tempor congue massa quis faucibus. Vestibulum nunc eros, convallis blandit dui sit amet, gravida adipiscing libero.
                p Morbi posuere ipsum nisl, accumsan tincidunt nibh lobortis sit amet. Proin felis lorem, dictum vel nulla quis, lobortis dignissim nunc. Pellentesque dapibus urna ut imperdiet mattis. Proin purus diam, accumsan ut mollis ac, vulputate nec metus. Etiam at risus neque. Fusce tincidunt, risus in faucibus lobortis, diam mi blandit nunc, quis molestie dolor tellus ac enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum turpis a velit vestibulum pharetra. Vivamus blandit dapibus cursus. Aenean lorem augue, vehicula in eleifend ut, imperdiet quis felis.
                p Duis non erat vel lacus consectetur ultricies. Sed non velit dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin vel varius mi, a tristique ante. Vivamus eget nibh ac elit tempor bibendum sit amet vitae velit. Proin sit amet dapibus nunc, non porta tellus. Fusce interdum vulputate imperdiet. Sed faucibus metus at pharetra fringilla. Fusce mattis orci et massa congue, eget dapibus ante rhoncus. Morbi semper sed tellus vel dignissim. Cras vestibulum, sapien in suscipit tincidunt, lectus mi sodales purus, at egestas ligula dui vel erat. Etiam cursus neque eu lectus eleifend accumsan vitae non leo. Aliquam scelerisque nisl sed lacus suscipit, ac consectetur sapien volutpat. Etiam nulla diam, accumsan ut enim vel, hendrerit venenatis sem. Vestibulum convallis justo vitae pharetra consequat. Mauris sollicitudin ac quam non congue.
=======
                p 这里是一个弹层。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。里面有很长的内容。
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
    .popover.popover-menu
      .popover-angle
      .popover-inner
        .list-block
          ul
            li
              a(href="modals.html").list-button.item-link Modals
            li
              a(href="popover.html").list-button.item-link Popover
            li
<<<<<<< HEAD
              a(href="tabs.html").list-button.item-link Tabs
            li
              a(href="panels.html").list-button.item-link Side Panels
            li
              a(href="list-view.html").list-button.item-link List View
            li
              a(href="forms.html").list-button.item-link Forms
=======
              a(href="tabs.html").list-button.item-link 标签页
            li
              a(href="panels.html").list-button.item-link 侧栏
            li
              a(href="list-view.html").list-button.item-link 列表
            li
              a(href="forms.html").list-button.item-link 表单
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
    .popover.popover-music
      .popover-angle
      .popover-inner
        .list-block.media-list
          ul
            li
              a(href="#").item-link.item-content
                .item-media
                  img(src="http://hhhhold.com/88/d/jpg?13", width="44")
                .item-inner
                  .item-title-row
                    .item-title Yellow Submarine
                  .item-subtitle Beatles
            li
              a(href="#").item-link.item-content
                .item-media
                  img(src="http://hhhhold.com/88/d/jpg?23", width="44")
                .item-inner
                  .item-title-row
                    .item-title Don't Stop Me Now
                  .item-subtitle Queen
            li
              a(href="#").item-link.item-content
                .item-media
                  img(src="http://hhhhold.com/88/d/jpg?33", width="44")
                .item-inner
                  .item-title-row
                    .item-title Billie Jean
                  .item-subtitle Michael Jackson
    .login-screen
      .view
        .page
          .page-content.login-screen-content
<<<<<<< HEAD
            .login-screen-title Framework7
=======
            .login-screen-title 登录
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
            form
              .list-block
                ul
                  li.item-content
                    .item-inner 
<<<<<<< HEAD
                      .item-title.label Username
                      .item-input
                        input(type="text", name="username", placeholder="Your username")
                  li.item-content
                    .item-inner 
                      .item-title.label Password
                      .item-input
                        input(type="password", name="password", placeholder="Your password")
=======
                      .item-title.label 用户名
                      .item-input
                        input(type="text", name="username", placeholder="用户名")
                  li.item-content
                    .item-inner 
                      .item-title.label 密码
                      .item-input
                        input(type="password", name="password", placeholder="密码")
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
              .list-block
                ul
                  li
                    a(href="#").item-link.list-button Sign In
                .list-block-label Some text about login information.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
<<<<<<< HEAD
    script(type="text/javascript", src="../build/js/framework7.js")
    script(type="text/javascript", src="js/kitchen-sink.js")
=======
    script(type="text/javascript", src="../dist/js/sui-mobile.js")
    script(type="text/javascript", src="js/kitchen-sink.js")
    script(src="http://10.68.166.207:8080/target/target-script-min.js#anonymous") 需要一个公共的服务器
>>>>>>> 465a880eb66ef83ce2e5ce57cf02f046804e04e1
